site_name: Maker Universe
repo_url: "https://github.com/makeruniverse/docs"
edit_uri: edit/main/docs/
theme:
  name: material
  logo: ./mediaassets/logo_white.png
  favicon: ./mediaassets/favicon.ico
  features:
    - content.action.edit
    - content.action.view
    - content.code.copy

    - search.suggest
    - search.highlight
    - search.share

    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    # - navigation.expand
    - navigation.path
    # - navigation.footer
    - toc.integrate
    - content.tooltips

  font:
    text: Open Sans

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/lightbulb 
        name: Switch to dark mode
      primary: custom-light
      accent: custom-light
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
      primary: custom-dark
      accent: custom-dark

  icon:
    edit: material/pencil 
    view: material/eye
    repo: fontawesome/brands/git-alt

extra:
  social:
    - icon: fontawesome/brands/youtube
      link: https://www.youtube.com/@hpi-makeruniverse
    - icon: fontawesome/brands/slack 
      link: https://hpi-makeruniverse.slack.com
    - icon: fontawesome/brands/linkedin 
      link: https://de.linkedin.com/company/makeruniverse
    - icon: fontawesome/brands/instagram 
      link: https://www.instagram.com/hpimakeruniverse

extra_css:
  - ./mediaassets/style.css

plugins:
  - search
  - glightbox
  - blog:
      blog_dir: "./blog/"
  - offline
  - mkdocs-video:
      is_video: True
      video_autoplay: True
      video_loop: True
      video_muted: True
      video_controls: False
      css_style:
        width: "25%"
  

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - md_in_html

nav:
  - Home:
    - ./index.md
  - Tools:
    - ./tools/tools.md
  - Projects:
    - ./projects/projects.md
  - Metrics:
    - ./metrics/metrics.md
  - Blog:
    - ./blog/index.md
