.md-typeset h1 {
    font-weight: bolder;
    text-transform: uppercase;
  }
  
  .md-typeset h2 {
    font-weight: bold;
  }
  
  .md-header {
    background-image: linear-gradient(to right, #cf0654, #11639f);
  }
  
  .md-tabs {
    background-image: linear-gradient(to right, #cf0654, #11639f);
  }
  
  .md-footer {
    background-image: linear-gradient(to right, #cf0654, #11639f);
  }
  
  .md-footer-meta {
    background-image: linear-gradient(to right, #cf0654, #11639f);
  }
  
  .md-typeset details {
    border-image: linear-gradient(to right, #cf0654, #11639f) 10;
    border-width: .075rem;
    border-style: solid;
  }
  
  .md-typeset summary {
    background: none;
  }
  
  [data-md-color-primary="custom-light"] {
    --md-primary-fg-color: #1a549b;
    --md-accent-fg-color: #cb0e5d;
  }
  
  [data-md-color-primary="custom-dark"] {
    --md-primary-fg-color: #618ec4;
    --md-accent-fg-color: #da3177;
  }
  